* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(46, 46, 46);
  height: 100vh;
  color: whitesmoke;
}

.pb-1 {
  padding-bottom: 1rem;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(41, 36, 53); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 151, 81);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 167, 108);
}

/* NAVBAR */
.Navbar {
  height: 7vh;
  background-color: rgb(255, 151, 81);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* APP VIEW */
.AppView {
  display: flex;
}

/* SIDEBAR */

.Sidebar {
  height: 93vh;
  width: 15%;
  background-color: rgb(255, 151, 81);
}

.sidebar-title {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(46, 46, 46);
  border-radius: 1rem;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.selected-mode {
  color: gray;
}

/* SEARCH MODE */

.SearchMode {
  width: 85%;
  height: 93vh;
  padding: 0 5rem;
}

/* SEARCH BAR */
.SearchBar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 40%;
  height: 2rem;
  border: 0;
  text-indent: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  outline: none;
}

.search-submit {
  width: 10%;
  height: 2rem;
  border: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
}

input[type="text" i] {
  padding: 0;
}

/* RESULTS */

.Results {
  display: flex;
  flex-wrap: wrap;
  height: 83vh;
  overflow: auto;
}

.recipe-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* MEAL */

.Meal {
  background-color: rgb(255, 151, 81);
  width: 200px;
  height: 300px;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
}

.Meal:hover {
  background: rgb(255, 167, 108);
}

.meal-title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* SHOW VIEW */
.ShowView {
  height: 100%;
  /* overflow: auto; */
  /* padding: 0 5rem; */
}

.show-recipe-img {
  width: 300px;
  margin-bottom: 1rem;
}

.br-1 {
  border-radius: 1rem;
}

.ta-start {
  text-align: start;
}

.fw-bold {
  font-weight: bold;
}

.show-navbar-title {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 151, 81);
  border-radius: 1rem;
  cursor: pointer;
}

/* CATEGORY MODE */
.CategoryMode {
  height: 93vh;
  width: 85%;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.back-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  cursor: pointer;
  padding-right: 5rem;
}

/* FILTERS */
.Filters {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 80%;
}

/* FILTER */
.Filter {
  height: 200px;
  width: 200px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  cursor: pointer;
}

.category-title {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.categoryResults {
  height: 100%;
  width: 100%;
}
